extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(onclick='$("#home0").animatescroll({padding:51,easing:"easeInOutQuad"});') Michael Perreux
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a#home1-nav(onclick='$("#home1").animatescroll({padding:51,easing:"easeInOutQuad"});') About
          li
            a#home2-nav(onclick='$("#home2").animatescroll({padding:51,easing:"easeInOutQuad"});') Skills
          li
            a#home4-nav(onclick='$("#home4").animatescroll({padding:51,easing:"easeInOutQuad"});') Contact
        ul.nav.navbar-nav.navbar-right
          li
            a(href='http://github.com/mperreux')
              i.fa.fa-github.fa-lg
          li
            a(href='http://linkedin.com/in/mperreux')
              i.fa.fa-linkedin.fa-lg
  section#home0
    #home0inner
      .container
        h1 Michael Perreux
  section#home1.section
    .container
      h1 About Me
      p Hey I'm Michael and I'm a software engineer in New York City. I've worked in ad-tech, health-tech, and I'm currently helping people monitor their cloud applications and infrastructure at Datadog.
      p
  section#home2.section
    .container
      h1 Skills
      p React
      p TypeScript
      p Javascript
      p Python
      p Kubernetes
      p Postgres
  section#home4.section
    .container
      h1 Contact
      .row
        p
          i.fa.fa-envelope.fa-3x
        p
          a(href='mailto:mperreux@gmail.com') mperreux@gmail.com
      .row
        form#contact(method='post', action='https://formspree.io/f/mwkwjqzn')
          .form-group
            input#name.form-control(type='text', placeholder='Name', name='name', required='')
          .form-group
            input#email.form-control(type='email', placeholder='Email', name='_replyto', required='')
          .form-group
            textarea#message.form-control(rows='3', placeholder='Message', name='message', required='')
          .form-group
            button#submit.btn.btn-primary(type='submit', value="Send") Send
          #form-messages.alert
  footer
    .container
      | © #{new Date().getFullYear()} Michael Perreux. All rights reserved.
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/skrollr.js')
  script(src='/javascripts/waypoints.min.js')
  script(src='/javascripts/animatescroll.js')
  script(src='/javascripts/contact.js')
  script.
      var sections = $('section');
      var navigation_links = $('nav a');
      sections.waypoint({
        handler: function (direction) {
          var active_section;
          active_section = $(this);
          if (direction === "up") active_section = active_section.prev();
            var active_link = $('#' + active_section.attr("id") + '-nav');
            navigation_links.parent().removeClass("active");
            active_link.parent().addClass("active");
          },
          offset: '10%'
      });
  script.
    // Init Skrollr
    var s = skrollr.init({
      forceHeight:false
    });

    // Refresh Skrollr after resizing our sections
    s.refresh($('.homeSlide'));
